.buyingPage__wrapper {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 87vh;
}

#buyingPage__text {
  margin: 1rem;
  color: #402B19;
}

#buyingPage__button {
  margin:0;
  padding:0;
}

.buyingPage__cardContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.buyingPage__card{
  width: 15rem;
  margin: 1rem;
}

#cardMedia {
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}