.home__Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 87.5vh;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home__insideHero{
  /* border: solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel', serif;
}

#home__WelcomeText {
  font-size: 10vh;
  font-family: 'Cinzel', serif;
}

.home__ButtonContainer {
  /* border: rgb(231, 154, 10) solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

#home__insideHeroButton {
  color: white;
  background-color:rgba(4, 0, 0, 0.4);
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 4vh;
  font-family: 'Cinzel', serif;

}

#home__insideHeroButton:hover {
  background-color:rgba(4, 0, 0, 0.7);
}