/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .sellingArmor__wrapper {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .sellingArmor__wrapper {
      display: flex;
      flex-direction: column;
      height: 180vh;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .sellingArmor__wrapper {
      display: flex;
      flex-direction: column;
      height: 180vh;
    }

    .sellingArmor__FormContainerPage {
      margin: 1rem;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .sellingArmor__wrapper {
      height: 220vh;
    }

    .sellingArmor__FormContainerPage {
      margin: 1rem;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .sellingArmor__wrapper {
      display: flex;
      flex-direction: column;
      height: 180vh;
    }

    .sellingArmor__FormContainerPage {
      margin: 1rem;
    }
}


/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .sellingArmor__wrapper {
      height: 260vh;
    }

    .sellingArmor__FormContainerPage {
      margin: 1rem;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .sellingArmor__wrapper {
      display: flex;
      flex-direction: column;
      height: 180vh;
    }

    .sellingArmor__FormContainerPage {
      margin: 1rem;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .sellingArmor__wrapper {
      height: 300vh;
    }

    .sellingArmor__FormContainerPage {
      margin: 1rem;
    }
}