.sellingWares__wrapper {
  /* border: solid blue; */
  display: grid;
  height: 87vh;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  background-color: inherit;
}

.sellingWares__FormContainerPage {
  /* border: red solid; */
  /* margin: 2rem; */
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  /* margin: 0 5rem; */
}

#sellingWares__FormCard {
  display: flex;
  margin: 1rem;
  justify-content: center;
  width: 100%;
  background-color: #732002;
}

#sellingWares__label {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  color: #a2a69c;
}

.sellingWares__Form {
  border: goldenrod solid 1px;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  margin: 1rem;
  width: 100%;
}

.sellingWares__Form input {
  margin: 0 1rem;
  outline: none;
  border-bottom: #461c1594 solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 100%;
  height: 50%;
  /* border-radius: 0.3rem; */
  /* color: #a2a69c; */
  font-size: 1rem;
  transition: all 0.5s ease;
}

.sellingWares__Form input:hover {
  border-bottom: black solid 2.5px;
}

.sellingWares__Form input::placeholder {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  color: #a2a69c;
}

#sellingWares__Icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: #f2f2f0;
  margin-left: 1rem;
  width: 100%;
  height: 50%;
}

.sellingWares__Form label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: #3fdb85;
  padding-right: 1rem;
  height: 20%;
}

#description {
  border: f2f2f0 solid 1px;
  border-radius: 0.3rem;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.082);
  color: #a2a69c;
}

#description::placeholder {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  color: #a2a69c;
}

#sellingWares__Submit {
  margin-top: 0 1rem;
  color: #d8d9d7;
}

#sellingWares__Submit:hover {
  color: #b9b9b8;
  background-color: rgba(0, 0, 0, 0.5);
}

.sellingWares__sellItems {
  /* border: red solid; */
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  overflow: scroll;
  /* margin: 0 5rem; */
}

.sellingWares__itemToSell {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 1rem;
}

.sellingWares__itemToSell li {
  margin-bottom: 1rem;
  font-family: "Cinzel", serif;
  font-size: 1rem;
}

.noWares__Container {
  /* border: solid; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noWares__Container span {
  /* border: solid; */
  font-family: "Cinzel Decorative", serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #732002;
}