.sellersPage__wrapper {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 87vh;
}

#sellersPage__Text {
  margin: 1rem;
  color: #402B19;
}

.sellersPage__cardContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

#sellersPage__button {
  margin: 0;
  padding: 0;
  text-transform: initial;
}

#sellersPage__card{
  width: 15rem;
  margin: 1rem;
  color: #F2F2F0;
  background-color: #A2A69C;
}

#cardMedia {
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  filter: grayscale(100%) blur(0.7px);
  filter: sepia(0%) contrast(100%) saturate(0);
  cursor: pointer;
  transition: all 0.5s ease;
}

#cardMedia:hover {
  transform: scale(1.05); 
  filter: grayscale(2%);
  filter: sepia(45%) contrast(90%) saturate(2);
}