.sellersPage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sellersPage__Text {
  margin: 1rem;
  color: #f7d7d7;
}

.sellersPage__cardContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.sellersPage__card{
  width: 15rem;
  margin: 1rem;
}

#cardMedia {
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}