.sellingArmor__wrapper {
  /* border: solid blue; */
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  background-color: inherit;
}

.sellingArmor__FormContainerPage {
  /* border: red solid; */
  position: relative;
  display: flex;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

#sellingArmor__FormCard {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  width: 100%;
  background-color: #392E18;
}

.sellingArmor__Form {
  /* border: blue solid; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}

.sellingArmor__Form input {
  margin: 1rem;
  margin-bottom: 2rem;
  outline: none;
  border-bottom: #FF7E57 solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  background-color: transparent;
  color: #EBE2C3;
}

#description {
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#sellingArmor__Submit {
  margin-top: 1rem;
}

.sellingArmor__textAreaLabel {
  /* border: blue solid; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 1rem;
}

.sellingArmor__textArea {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sellingArmor__sellItems {
  /* border: red solid; */
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  overflow: scroll;
}

.sellingArmor__itemToSell {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 1rem;
}

.sellingArmor__itemToSell li {
  margin-bottom: 1rem;
}