.sellingPotions__wrapper {
  border: solid blue;
  display: grid;
  width: 100%;
  height: 91vh;
  grid-template-columns: repeat(1fr);
  background-color: inherit;
}

.sellingPotions__FormContainerPage {
  border: red solid;
  position: relative;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.sellingPotions__Form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem;
}

.sellingPotions__Form input {
  margin: 1rem;
}

.sellingPotions__sellItems {
  /* position: absolute; */
  border: red solid;
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  overflow: scroll;
}

.sellingPotions__itemToSell {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 1rem;
}